<div id="oauth_available_services">
  <% unless services.empty? %>
    <h3><%=translate('muck.oauth.you_can_connect_to_the_following_services') %></h3>
    <ul>
      <% services.each do |service| -%>
        <li class="<%=service.to_s.parameterize%> oauth_service" title="<%=translate('muck.oauth.connect_to_account_title', :service => service.to_s.humanize) %>">
          <%= link_to service.to_s.humanize, oauth_consumer_path(service), :class => 'oauthfancybox iframe' %>
        </li>
      <% end -%>
    </ul>
  <% end %>
</div>