<h1><%=translate('muck.oauth.register_a_new_application') %></h1>
<%= form_for :client_application, :url => { :action => :create } do |f| %>
   <%= render :partial => "form", :locals => { :f => f } %>
   <%= submit_tag translate('muck.oauth.register') %>
<% end %>